---
import Layout from '../layouts/Layout.astro';

const { searchParams } = Astro.url;
const errorMessage = searchParams.get('message');
---

<Layout title="Oeps! Interne serverfout" description="Er is een fout opgetreden op de server.">
  <div class="bg-white">
    <div class="max-w-7xl mx-auto">
      <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="sm:text-center lg:text-left py-16 lg:py-24">
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block">Oeps!</span>
            <span class="block text-primary-700">Interne serverfout</span>
          </h1>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            Er is een fout opgetreden op de server. Probeer het later opnieuw.
          </p>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-sm lg:mx-0">
            <span class="font-semibold">Foutmelding:</span> Error 500{errorMessage && ' | ' + errorMessage || ''}
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="/" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-primary-700 hover:bg-primary-800 md:py-4 md:text-lg md:px-10">
                Terug naar de homepagina
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</Layout>