---
import type { Trailer } from '../data/trailers';
import TrailerCard from './TrailerCard.astro';

interface Props {
  trailers: Trailer[];
}

const { trailers } = Astro.props;
---

<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
  {trailers.map(trailer => (
    <TrailerCard {...trailer} />
  ))}
</div>